<template lang="html">
  <div id="team">
    <q-list>
      <q-item-label header>Моя команда</q-item-label>
      <div v-if="!$store.state.user.team.length" class="q-pa-md">
        <q-icon size="22px" name="warning" color="orange"/> <span class="text-caption q-ml-sm">Ответственные не назначены</span>
      </div>
      <div v-for="(user, index) in activeUsers" :key="index">
        <transition
          appear
          enter-active-class="animated fadeIn"
        >
        <q-item>
          <q-item-section avatar>
            <q-avatar>
              <img :src="getPhoto(user.photo)">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ user.name }}</q-item-label>
            <q-item-label caption>
              <span class="text-weight-bold">{{ user.role_name }}</span>
            </q-item-label>
          </q-item-section>

          <q-item-section v-if="$store.state.user.contract[0].id !== 7" side top>
            {{ user.phone | phone }}
          </q-item-section>
        </q-item>
        </transition>
        <q-separator spaced inset="item"></q-separator>
      </div>
    </q-list>
  </div>
</template>

<script>
export default {
  name: 'team',
  computed: {
    activeUsers () {
      return this.$store.state.user.team.filter(user => {
        return user.active
      })
    }
  }
}
</script>
